[submodule "ros_imu_wit"]
	path = ros_imu_wit
	url = https://github.com/hmxf/ros_imu_wit
[submodule "imu_gps_localization"]
	path = imu_gps_localization
	url = https://github.com/hmxf/imu_gps_localization
